.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.page-header {
    font-size: 36px;
    /* background-color: #EEEEEE; */
}

.nav-tabs, .nav-pills {
    text-align:center;
    /* background-color: #EEEEEE; */
}

.conversation {
    background-color: #F9F9F9; 
    border-style: solid;
    border-color: #000000 #000000;
    padding:5px;
}

.user:before {
    content: "User: ";
    font-weight: bold;
}

.system:before {
    content: "System: ";
    font-weight: bold;
}


.outofdate:before {
    content: "WARNING: OUT OF DATE";
    font-weight: bold;
    background-color: #F90000; 
    border-style: solid;
}

.todo:before {
    content: "TODO: ";
}

.todo {
    font-weight: bold;
    background-color: #9999FF; 
    border-style: solid;
}

.contribute:before {
    content: "Contribute: ";
}


.contribute {
    font-weight: bold;
    background-color: #99FF99; 
    border-style: solid;
}



/* h1 { */
/*     font-size:24; */
/* } */
/* h2 { */
/*     font-size:18; */
/* } */
/* img { */
/*     width:75%; */
/*     overflow:hidden; */
/* } */
/* header { */
/*     background-color:black; */
/*     color:white; */
/*     font-size:36; */
/*     text-align:center; */
/*     padding:5px;  */
/* } */
/* nav { */
/*     line-height:30px; */
/*     background-color:#eeeeee; */
/*     height:100%; */
/*     width:25%; */
/*     float:left; */
/*     padding:1%;  */
/* } */
/* section { */
/*     width:65%; */
/*     float:right; */
/*     padding:1%;  */
/* } */
/* footer { */
/*     background-color:black; */
/*     color:white; */
/*     clear:both; */
/*     text-align:center; */
/*     padding:5px;  */
/* } */